<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico', v='1.1') }}">
    <title>RPGeet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>RPGeet</h1>
        {% if session.username %}
            <!-- TODO: Add admin link and condition -->
            <p><a href="{{ url_for('lobby') }}">Lobby</a> | <a href="{{ url_for('characters') }}">Characters</a> | <a href="{{ url_for('logout') }}">Logout</a> | Logged in as: {{ session.username }}</p>
        {% else %}
            <p><a href="{{ url_for('login') }}">Login</a> | <a href="{{ url_for('register') }}">Register</a></p>
        {% endif %}
    </header>
    
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>