<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico', v='1.1') }}">
    <title>RPGeet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <h1>RPGeet</h1>
        {% if session.username %}
            {% if session.is_admin %}
                <a href="{{ url_for('admin.list_systems') }}">Admin Panel</a>
            {% endif %}
            <p><a href="{{ url_for('main.lobby') }}">Lobby</a> | <a href="{{ url_for('character.characters') }}">Characters</a> | <a href="{{ url_for('auth.logout') }}">Logout</a> | Logged in as: {{ session.username }}</p>
        {% else %}
            <p><a href="{{ url_for('auth.login') }}">Login</a> | <a href="{{ url_for('auth.register') }}">Register</a></p>
        {% endif %}
    </header>
    
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <main>
        {% block content %}{% endblock %}
    </main>
    {% block scripts %}{% endblock %}
</body>
</html>